.target
.vscode/
.DS_Store
.classpath
.idea/
.project
.settings/
target/
.DS_Store
.secrets
.dev

**/*.zip
dist/

checksums/
**/*.sha256
**/*.SHA256SUMS

**/condensed-manifest.yml

### Terraform ###
# Local .terraform directories
**/.terraform/*
**/.terrafor*
.terraform.lock.hcl
