.target
.vscode/
.DS_Store
.classpath
.idea/
.project
.settings/
target/
.DS_Store
.secrets
.dev
**/*.zip
dist/

### Terraform ###
# Local .terraform directories
**/.terraform/*
**/.terrafor*
.terraform.lock.hcl
