# 01-oci-driver-configs.yml

# TODO - configure before use
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: oci-cloud-controller-manager
  namespace: oci-cloud-controller-manager
stringData:
  cloud-provider.yaml: |
    useInstancePrincipals: true
    compartment: $COMPARTMENT_ID
    vcn: $OCP_VCN_ID
    loadBalancer:
      subnet1: $OCP_SUBNET_ID
      securityListManagementMode: Frontend
      securityLists:
        $OCP_SUBNET_ID: $OCP_SEC_LIST_ID
    rateLimiter:
      rateLimitQPSRead: 20.0
      rateLimitBucketRead: 5
      rateLimitQPSWrite: 20.0
      rateLimitBucketWrite: 5
    tags:
      loadBalancer:
        defined:
          openshift-tags:
            openshift-resource: openshift-resource-infra
      blockVolume:
        defined:
          openshift-tags:
            openshift-resource: openshift-resource-infra

---

# TODO - configure before use
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: oci-volume-provisioner
  namespace: oci-csi
stringData:
  config.yaml: |
    useInstancePrincipals: true
    compartment: $COMPARTMENT_ID
    vcn: $OCP_VCN_ID
    loadBalancer:
      subnet1: $OCP_SUBNET_ID
      securityListManagementMode: Frontend
      securityLists:
        $OCP_SUBNET_ID: $OCP_SEC_LIST_ID
    rateLimiter:
      rateLimitQPSRead: 20.0
      rateLimitBucketRead: 5
      rateLimitQPSWrite: 20.0
      rateLimitBucketWrite: 5
    tags:
      loadBalancer:
        defined:
          openshift-tags:
            openshift-resource: openshift-resource-infra
      blockVolume:
        defined:
          openshift-tags:
            openshift-resource: openshift-resource-infra

---
